* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

header {
  background-color: #faf9f9;
  border-bottom: 1px solid rgb(202, 202, 202);
}

main,
.hero {
  background-color: #faf9f9;
}
