@media (max-width: 480px) {
  .start-button {
    margin: 0 100px;
  }

  .h1-hero {
    text-align: center;
  }

  .h3-hero {
    text-align: center;
    padding: 20px;
  }

  .h2-hero {
    text-align: center;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-bottom {
    text-align: center;
  }
}

@media (max-width: 580px) {
  .hero-image-container {
    display: none;
  }

  .start-button {
    margin: 0 120px;
  }

  .transform-container {
    min-height: 150px;
  }

  .apply-container {
    min-height: 150px;
  }
}
