@media (max-width: 767px) {
  .hero-image-container {
    display: none;
  }

  .footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .footer-bottom {
    text-align: center;
  }

  .hero-text-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 80px 0;
  }

  .transform-container {
    min-height: 150px;
  }

  .apply-container {
    min-height: 150px;
  }
}
