body {
  font-family: "Open Sans", sans-serif;
}

.nav-bar {
  background-color: #fff059;
  height: 250px;
  width: 100%;
  max-width: 1000%;
}

.main-logo {
  width: 140px;
  float: left;
  padding: 10px 0 0px 40px;
}

.question-logo {
  padding: 10px 40px 0px 0;
  width: 30px;
  float: right;
}

main {
  background-color: #e6e6e6;
  height: 850px;
  width: 100%;
  max-width: 1000%;
}

.card {
  text-align: center;
  margin: 0 auto;
  background-color: #ffffff;
  height: 400px;
  width: 400px;
}

.captcha {
  margin: 0 auto;
  text-align: center;
  height: 100px;
  margin-top: 50px;
}

.captcha p a {
  text-decoration: none;
}

footer {
  text-align: center;
  margin: 0 auto;
  background-color: #ffffff;
  height: 100px;
  width: 600px;
  max-width: 1000%;
}

footer .parrafo2 {
}
