header {
  background-color: #faf9f9;
  border-bottom: 1px solid rgb(202, 202, 202);
}

main,
.hero {
  background-color: #faf9f9;
}

.title-container {
  display: flex;
  flex-direction: column;
  padding: 100px 50px;
}

.h1-hero {
  font-size: 3rem;
  font-weight: 700;
  padding: 10px;
}

.h3-hero {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 10px;
}

.hero-image {
  max-width: 90%;
  padding: 50px;
}

.cards-1,
.cards-2,
.cards-3,
.cards-4,
.cards-5 {
  margin: 20px 0 20px 0;
}

.cards-5 {
  margin-bottom: 20px;
}

.cards-wrapper {
  background-color: transparent;
}

.card {
  background-color: white;
  color: black;
  min-height: 100%;
  padding: 20px;
  border-radius: 10px;
  transition-duration: 0.4s;
}

.card-header {
  display: flex;
  background-color: transparent;
  border-bottom: none;
  align-content: center;
}

.card-header-p {
  margin-left: 10px;
}

.username {
  font-size: 1rem;
  color: rgb(43, 43, 43);
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-weight: 600;
}

.verified {
  font-size: 0.8rem;
  margin-top: 0px;
  padding-top: 0px;
  font-weight: 400;
  color: rgb(117, 117, 117);
}

.card-title {
  font-size: 1.1rem;
  font-weight: 700;
}

.card-paragraph {
  font-size: 0.9rem;
  font-weight: 400;
}

#card-1:hover {
  background-color: #f15bb5;
  color: white;
}

#card-5:hover {
  background-color: #9b5de5;
  color: white;
}

#card-2:hover {
  background-color: #fee440;
}

#card-3:hover {
  background-color: #00bbf9;
}

#card-4:hover {
  background-color: #00f5d4;
}

.main-nav {
  border-bottom: 1px solid rgb(194, 194, 194);
}

.footer {
  background-color: #ececec;
  color: black;
  padding: 30px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom {
  margin: 20px;
  font-size: 1.2rem;
  padding: 20px 0 10px 0;
}

.footer-links {
  padding: 20px 0 20px 0;
}

.footer-links a {
  text-decoration: none;
  color: rgb(43, 43, 43);
  padding: 20px;
  font-size: 1.5rem;
  margin-bottom: 30px;
  transition-duration: 0.5s;
}

.footer-links a:hover {
  background-color: #00f5d4;
  border-radius: 10px;
}

.slider-container,
.slider-content-container {
  padding: 20px;
}

.h2-hero {
  font-size: 2rem;
  font-weight: 700;
  padding: 10px;
}

.h3-hero {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 10px;
}
