body {
  background-color: #e6e6e6;
  font-family: "Open Sans", sans-serif;
}

.logotipo {
  width: 50px;
}

header,
section.page,
footer {
  width: 90%;
  margin: 20px auto;
  max-width: 1000px;
}

header nav {
  background-color: #528fd5;
  overflow: hidden;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  float: left;
}

header nav ul li a {
  color: #fff;
  display: block;
  padding: 5px 15px;
  text-decoration: none;
}

.articles {
  width: 70%;
  float: left;
  margin-right: 1.5%;
}

.articles article {
  background: white;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}

aside {
  width: 28.5%;
  float: left;
  background: #ff8000;
  border-radius: 5px;
}

aside .sidebar {
  color: #fff;
  padding: 30px;
}

footer {
  background: #000;
  clear: both;
}

footer .footer-content p {
  color: #ffffff;
  text-align: center;
  padding: 5px;
}
